main {
  font-family: sans-serif;
  text-align: center;
}

button {
  background: none;
  border: none;
  font-size: 16px;
  border-radius: 4px;
}

#upvote.active {
  background: orangered;
  color: white;
}

#downvote.active {
  background: rgb(119, 119, 236);
  color: white;
}


@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}

